# Neon PostgreSQL Database URL
# Example Neon connection string:
# postgresql://neondb_owner:password@ep-xyz-123.us-east-2.aws.neon.tech/neondb?sslmode=require
DATABASE_URL="postgresql://user:password@localhost:5432/barberflow?sslmode=prefer"

# JWT Secret for Auth & Mobile API tokens
JWT_SECRET="super-secret-barberflow-jwt-key-change-in-production-min-32-chars"

# Public App URL
NEXT_PUBLIC_APP_URL="http://localhost:3000"
